ATN.Crawler/Service References/WokSearch/WokSearchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:woksearch="http://woksearch.cxf.wokmws.thomsonreuters.com" name="WokSearchService" targetNamespace="http://woksearch.cxf.wokmws.thomsonreuters.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://woksearch.cxf.wokmws.thomsonreuters.com">
      <xs:element name="citedReferences" type="woksearch:citedReferences" />
      <xs:element name="citedReferencesResponse" type="woksearch:citedReferencesResponse" />
      <xs:element name="citedReferencesRetrieve" type="woksearch:citedReferencesRetrieve" />
      <xs:element name="citedReferencesRetrieveResponse" type="woksearch:citedReferencesRetrieveResponse" />
      <xs:element name="citingArticles" type="woksearch:citingArticles" />
      <xs:element name="citingArticlesResponse" type="woksearch:citingArticlesResponse" />
      <xs:element name="relatedRecords" type="woksearch:relatedRecords" />
      <xs:element name="relatedRecordsResponse" type="woksearch:relatedRecordsResponse" />
      <xs:element name="retrieve" type="woksearch:retrieve" />
      <xs:element name="retrieveById" type="woksearch:retrieveById" />
      <xs:element name="retrieveByIdResponse" type="woksearch:retrieveByIdResponse" />
      <xs:element name="retrieveResponse" type="woksearch:retrieveResponse" />
      <xs:element name="search" type="woksearch:search" />
      <xs:element name="searchResponse" type="woksearch:searchResponse" />
      <xs:complexType name="citedReferencesRetrieve">
        <xs:sequence>
          <xs:element minOccurs="0" name="queryId" type="xs:string" />
          <xs:element minOccurs="0" name="retrieveParameters" type="woksearch:retrieveParameters" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retrieveParameters">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="collectionFields" nillable="true" type="woksearch:collectionFields" />
          <xs:element name="count" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="fields" nillable="true" type="woksearch:queryField" />
          <xs:element name="firstRecord" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="options" nillable="true" type="woksearch:keyValuePair" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="collectionFields">
        <xs:sequence>
          <xs:element minOccurs="0" name="collectionName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="fieldList" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="listName" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queryField">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" type="xs:string" />
          <xs:element minOccurs="0" name="sort" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="keyValuePair">
        <xs:sequence>
          <xs:element minOccurs="0" name="key" type="xs:string" />
          <xs:element minOccurs="0" name="value" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="citedReferencesRetrieveResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="woksearch:citedReference" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="citedReference">
        <xs:sequence>
          <xs:element minOccurs="0" name="articleID" type="xs:string" />
          <xs:element minOccurs="0" name="citedAuthor" type="xs:string" />
          <xs:element minOccurs="0" name="citedTitle" type="xs:string" />
          <xs:element minOccurs="0" name="citedWork" type="xs:string" />
          <xs:element minOccurs="0" name="page" type="xs:string" />
          <xs:element minOccurs="0" name="recID" type="xs:string" />
          <xs:element minOccurs="0" name="refID" type="xs:string" />
          <xs:element minOccurs="0" name="timesCited" type="xs:string" />
          <xs:element minOccurs="0" name="volume" type="xs:string" />
          <xs:element minOccurs="0" name="year" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="relatedRecords">
        <xs:sequence>
          <xs:element minOccurs="0" name="databaseId" type="xs:string" />
          <xs:element minOccurs="0" name="uid" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="editions" type="woksearch:editionDesc" />
          <xs:element minOccurs="0" name="timeSpan" type="woksearch:timeSpan" />
          <xs:element minOccurs="0" name="queryLanguage" type="xs:string" />
          <xs:element minOccurs="0" name="retrieveParameters" type="woksearch:retrieveParameters" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="editionDesc">
        <xs:sequence>
          <xs:element minOccurs="0" name="collection" type="xs:string" />
          <xs:element minOccurs="0" name="edition" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="timeSpan">
        <xs:sequence>
          <xs:element minOccurs="0" name="begin" type="xs:string" />
          <xs:element minOccurs="0" name="end" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="relatedRecordsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="woksearch:fullRecordSearchResults" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fullRecordSearchResults">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="options" nillable="true" type="woksearch:labelValuesPair" />
          <xs:element minOccurs="0" name="parent" type="xs:string" />
          <xs:element minOccurs="0" name="queryID" type="xs:string" />
          <xs:element minOccurs="0" name="records" type="xs:string" />
          <xs:element name="recordsFound" type="xs:int" />
          <xs:element name="recordsSearched" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="labelValuesPair">
        <xs:sequence>
          <xs:element minOccurs="0" name="label" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="values" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="citedReferences">
        <xs:sequence>
          <xs:element minOccurs="0" name="databaseId" type="xs:string" />
          <xs:element minOccurs="0" name="uid" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="editions" type="woksearch:editionDesc" />
          <xs:element minOccurs="0" name="timeSpan" type="woksearch:timeSpan" />
          <xs:element minOccurs="0" name="queryLanguage" type="xs:string" />
          <xs:element minOccurs="0" name="retrieveParameters" type="woksearch:retrieveParameters" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="citedReferencesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="woksearch:citedReferencesSearchResults" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="citedReferencesSearchResults">
        <xs:sequence>
          <xs:element minOccurs="0" name="queryID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="records" nillable="true" type="woksearch:citedReference" />
          <xs:element name="recordsFound" type="xs:int" />
          <xs:element name="recordsSearched" type="xs:long" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retrieve">
        <xs:sequence>
          <xs:element minOccurs="0" name="queryId" type="xs:string" />
          <xs:element minOccurs="0" name="retrieveParameters" type="woksearch:retrieveParameters" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retrieveResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="woksearch:fullRecordData" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="fullRecordData">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="options" nillable="true" type="woksearch:labelValuesPair" />
          <xs:element minOccurs="0" name="records" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="search">
        <xs:sequence>
          <xs:element minOccurs="0" name="queryParameters" type="woksearch:queryParameters" />
          <xs:element minOccurs="0" name="retrieveParameters" type="woksearch:retrieveParameters" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="queryParameters">
        <xs:sequence>
          <xs:element minOccurs="0" name="databaseID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="editions" nillable="true" type="woksearch:editionDesc" />
          <xs:element minOccurs="0" name="queryLanguage" type="xs:string" />
          <xs:element minOccurs="0" name="symbolicTimeSpan" type="xs:string" />
          <xs:element minOccurs="0" name="timeSpan" type="woksearch:timeSpan" />
          <xs:element minOccurs="0" name="userQuery" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="searchResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="woksearch:fullRecordSearchResults" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="citingArticles">
        <xs:sequence>
          <xs:element minOccurs="0" name="databaseId" type="xs:string" />
          <xs:element minOccurs="0" name="uid" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="editions" type="woksearch:editionDesc" />
          <xs:element minOccurs="0" name="timeSpan" type="woksearch:timeSpan" />
          <xs:element minOccurs="0" name="queryLanguage" type="xs:string" />
          <xs:element minOccurs="0" name="retrieveParameters" type="woksearch:retrieveParameters" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="citingArticlesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="woksearch:fullRecordSearchResults" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retrieveById">
        <xs:sequence>
          <xs:element minOccurs="0" name="databaseId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="uids" type="xs:string" />
          <xs:element minOccurs="0" name="queryLanguage" type="xs:string" />
          <xs:element minOccurs="0" name="retrieveParameters" type="woksearch:retrieveParameters" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="retrieveByIdResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="woksearch:fullRecordSearchResults" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="QueryException" type="woksearch:QueryException" />
      <xs:complexType name="QueryException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="AuthenticationException" type="woksearch:AuthenticationException" />
      <xs:complexType name="AuthenticationException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="InvalidInputException" type="woksearch:InvalidInputException" />
      <xs:complexType name="InvalidInputException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="ESTIWSException" type="woksearch:ESTIWSException" />
      <xs:complexType name="ESTIWSException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="InternalServerException" type="woksearch:InternalServerException" />
      <xs:complexType name="InternalServerException">
        <xs:sequence />
      </xs:complexType>
      <xs:element name="SessionException" type="woksearch:SessionException" />
      <xs:complexType name="SessionException">
        <xs:sequence />
      </xs:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="citingArticles">
    <wsdl:part name="parameters" element="woksearch:citingArticles" />
  </wsdl:message>
  <wsdl:message name="QueryException">
    <wsdl:part name="QueryException" element="woksearch:QueryException" />
  </wsdl:message>
  <wsdl:message name="citedReferences">
    <wsdl:part name="parameters" element="woksearch:citedReferences" />
  </wsdl:message>
  <wsdl:message name="retrieveByIdResponse">
    <wsdl:part name="parameters" element="woksearch:retrieveByIdResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveById">
    <wsdl:part name="parameters" element="woksearch:retrieveById" />
  </wsdl:message>
  <wsdl:message name="search">
    <wsdl:part name="parameters" element="woksearch:search" />
  </wsdl:message>
  <wsdl:message name="citedReferencesRetrieveResponse">
    <wsdl:part name="parameters" element="woksearch:citedReferencesRetrieveResponse" />
  </wsdl:message>
  <wsdl:message name="retrieve">
    <wsdl:part name="parameters" element="woksearch:retrieve" />
  </wsdl:message>
  <wsdl:message name="AuthenticationException">
    <wsdl:part name="AuthenticationException" element="woksearch:AuthenticationException" />
  </wsdl:message>
  <wsdl:message name="citingArticlesResponse">
    <wsdl:part name="parameters" element="woksearch:citingArticlesResponse" />
  </wsdl:message>
  <wsdl:message name="citedReferencesRetrieve">
    <wsdl:part name="parameters" element="woksearch:citedReferencesRetrieve" />
  </wsdl:message>
  <wsdl:message name="citedReferencesResponse">
    <wsdl:part name="parameters" element="woksearch:citedReferencesResponse" />
  </wsdl:message>
  <wsdl:message name="SessionException">
    <wsdl:part name="SessionException" element="woksearch:SessionException" />
  </wsdl:message>
  <wsdl:message name="relatedRecords">
    <wsdl:part name="parameters" element="woksearch:relatedRecords" />
  </wsdl:message>
  <wsdl:message name="retrieveResponse">
    <wsdl:part name="parameters" element="woksearch:retrieveResponse" />
  </wsdl:message>
  <wsdl:message name="searchResponse">
    <wsdl:part name="parameters" element="woksearch:searchResponse" />
  </wsdl:message>
  <wsdl:message name="ESTIWSException">
    <wsdl:part name="ESTIWSException" element="woksearch:ESTIWSException" />
  </wsdl:message>
  <wsdl:message name="InvalidInputException">
    <wsdl:part name="InvalidInputException" element="woksearch:InvalidInputException" />
  </wsdl:message>
  <wsdl:message name="InternalServerException">
    <wsdl:part name="InternalServerException" element="woksearch:InternalServerException" />
  </wsdl:message>
  <wsdl:message name="relatedRecordsResponse">
    <wsdl:part name="parameters" element="woksearch:relatedRecordsResponse" />
  </wsdl:message>
  <wsdl:portType name="WokSearch">
    <wsdl:operation name="citedReferencesRetrieve">
      <wsdl:input name="citedReferencesRetrieve" message="woksearch:citedReferencesRetrieve" />
      <wsdl:output name="citedReferencesRetrieveResponse" message="woksearch:citedReferencesRetrieveResponse" />
      <wsdl:fault name="InternalServerException" message="woksearch:InternalServerException" />
      <wsdl:fault name="InvalidInputException" message="woksearch:InvalidInputException" />
      <wsdl:fault name="ESTIWSException" message="woksearch:ESTIWSException" />
      <wsdl:fault name="AuthenticationException" message="woksearch:AuthenticationException" />
      <wsdl:fault name="QueryException" message="woksearch:QueryException" />
      <wsdl:fault name="SessionException" message="woksearch:SessionException" />
    </wsdl:operation>
    <wsdl:operation name="relatedRecords">
      <wsdl:input name="relatedRecords" message="woksearch:relatedRecords" />
      <wsdl:output name="relatedRecordsResponse" message="woksearch:relatedRecordsResponse" />
      <wsdl:fault name="InternalServerException" message="woksearch:InternalServerException" />
      <wsdl:fault name="InvalidInputException" message="woksearch:InvalidInputException" />
      <wsdl:fault name="ESTIWSException" message="woksearch:ESTIWSException" />
      <wsdl:fault name="AuthenticationException" message="woksearch:AuthenticationException" />
      <wsdl:fault name="QueryException" message="woksearch:QueryException" />
      <wsdl:fault name="SessionException" message="woksearch:SessionException" />
    </wsdl:operation>
    <wsdl:operation name="citedReferences">
      <wsdl:input name="citedReferences" message="woksearch:citedReferences" />
      <wsdl:output name="citedReferencesResponse" message="woksearch:citedReferencesResponse" />
      <wsdl:fault name="InternalServerException" message="woksearch:InternalServerException" />
      <wsdl:fault name="InvalidInputException" message="woksearch:InvalidInputException" />
      <wsdl:fault name="ESTIWSException" message="woksearch:ESTIWSException" />
      <wsdl:fault name="AuthenticationException" message="woksearch:AuthenticationException" />
      <wsdl:fault name="QueryException" message="woksearch:QueryException" />
      <wsdl:fault name="SessionException" message="woksearch:SessionException" />
    </wsdl:operation>
    <wsdl:operation name="retrieve">
      <wsdl:input name="retrieve" message="woksearch:retrieve" />
      <wsdl:output name="retrieveResponse" message="woksearch:retrieveResponse" />
      <wsdl:fault name="InternalServerException" message="woksearch:InternalServerException" />
      <wsdl:fault name="InvalidInputException" message="woksearch:InvalidInputException" />
      <wsdl:fault name="ESTIWSException" message="woksearch:ESTIWSException" />
      <wsdl:fault name="AuthenticationException" message="woksearch:AuthenticationException" />
      <wsdl:fault name="QueryException" message="woksearch:QueryException" />
      <wsdl:fault name="SessionException" message="woksearch:SessionException" />
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdl:input name="search" message="woksearch:search" />
      <wsdl:output name="searchResponse" message="woksearch:searchResponse" />
      <wsdl:fault name="InternalServerException" message="woksearch:InternalServerException" />
      <wsdl:fault name="InvalidInputException" message="woksearch:InvalidInputException" />
      <wsdl:fault name="ESTIWSException" message="woksearch:ESTIWSException" />
      <wsdl:fault name="AuthenticationException" message="woksearch:AuthenticationException" />
      <wsdl:fault name="QueryException" message="woksearch:QueryException" />
      <wsdl:fault name="SessionException" message="woksearch:SessionException" />
    </wsdl:operation>
    <wsdl:operation name="citingArticles">
      <wsdl:input name="citingArticles" message="woksearch:citingArticles" />
      <wsdl:output name="citingArticlesResponse" message="woksearch:citingArticlesResponse" />
      <wsdl:fault name="InternalServerException" message="woksearch:InternalServerException" />
      <wsdl:fault name="InvalidInputException" message="woksearch:InvalidInputException" />
      <wsdl:fault name="ESTIWSException" message="woksearch:ESTIWSException" />
      <wsdl:fault name="AuthenticationException" message="woksearch:AuthenticationException" />
      <wsdl:fault name="QueryException" message="woksearch:QueryException" />
      <wsdl:fault name="SessionException" message="woksearch:SessionException" />
    </wsdl:operation>
    <wsdl:operation name="retrieveById">
      <wsdl:input name="retrieveById" message="woksearch:retrieveById" />
      <wsdl:output name="retrieveByIdResponse" message="woksearch:retrieveByIdResponse" />
      <wsdl:fault name="InternalServerException" message="woksearch:InternalServerException" />
      <wsdl:fault name="InvalidInputException" message="woksearch:InvalidInputException" />
      <wsdl:fault name="ESTIWSException" message="woksearch:ESTIWSException" />
      <wsdl:fault name="AuthenticationException" message="woksearch:AuthenticationException" />
      <wsdl:fault name="QueryException" message="woksearch:QueryException" />
      <wsdl:fault name="SessionException" message="woksearch:SessionException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WokSearchServiceSoapBinding" type="woksearch:WokSearch">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="citedReferencesRetrieve">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="citedReferencesRetrieve">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="citedReferencesRetrieveResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InternalServerException">
        <soap:fault use="literal" name="InternalServerException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidInputException">
        <soap:fault use="literal" name="InvalidInputException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ESTIWSException">
        <soap:fault use="literal" name="ESTIWSException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationException">
        <soap:fault use="literal" name="AuthenticationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="QueryException">
        <soap:fault use="literal" name="QueryException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SessionException">
        <soap:fault use="literal" name="SessionException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="relatedRecords">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="relatedRecords">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="relatedRecordsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InternalServerException">
        <soap:fault use="literal" name="InternalServerException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidInputException">
        <soap:fault use="literal" name="InvalidInputException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ESTIWSException">
        <soap:fault use="literal" name="ESTIWSException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationException">
        <soap:fault use="literal" name="AuthenticationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="QueryException">
        <soap:fault use="literal" name="QueryException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SessionException">
        <soap:fault use="literal" name="SessionException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="citedReferences">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="citedReferences">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="citedReferencesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InternalServerException">
        <soap:fault use="literal" name="InternalServerException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidInputException">
        <soap:fault use="literal" name="InvalidInputException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ESTIWSException">
        <soap:fault use="literal" name="ESTIWSException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationException">
        <soap:fault use="literal" name="AuthenticationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="QueryException">
        <soap:fault use="literal" name="QueryException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SessionException">
        <soap:fault use="literal" name="SessionException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieve">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="retrieve">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="retrieveResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InternalServerException">
        <soap:fault use="literal" name="InternalServerException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidInputException">
        <soap:fault use="literal" name="InvalidInputException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ESTIWSException">
        <soap:fault use="literal" name="ESTIWSException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationException">
        <soap:fault use="literal" name="AuthenticationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="QueryException">
        <soap:fault use="literal" name="QueryException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SessionException">
        <soap:fault use="literal" name="SessionException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="search">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="search">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="searchResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InternalServerException">
        <soap:fault use="literal" name="InternalServerException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidInputException">
        <soap:fault use="literal" name="InvalidInputException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ESTIWSException">
        <soap:fault use="literal" name="ESTIWSException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationException">
        <soap:fault use="literal" name="AuthenticationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="QueryException">
        <soap:fault use="literal" name="QueryException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SessionException">
        <soap:fault use="literal" name="SessionException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="citingArticles">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="citingArticles">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="citingArticlesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InternalServerException">
        <soap:fault use="literal" name="InternalServerException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidInputException">
        <soap:fault use="literal" name="InvalidInputException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ESTIWSException">
        <soap:fault use="literal" name="ESTIWSException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationException">
        <soap:fault use="literal" name="AuthenticationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="QueryException">
        <soap:fault use="literal" name="QueryException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SessionException">
        <soap:fault use="literal" name="SessionException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="retrieveById">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="retrieveById">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="retrieveByIdResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InternalServerException">
        <soap:fault use="literal" name="InternalServerException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidInputException">
        <soap:fault use="literal" name="InvalidInputException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ESTIWSException">
        <soap:fault use="literal" name="ESTIWSException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="AuthenticationException">
        <soap:fault use="literal" name="AuthenticationException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="QueryException">
        <soap:fault use="literal" name="QueryException" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="SessionException">
        <soap:fault use="literal" name="SessionException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WokSearchService">
    <wsdl:port name="WokSearchPort" binding="woksearch:WokSearchServiceSoapBinding">
      <soap:address location="http://search.isiknowledge.com/esti/wokmws/ws/WokSearch" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>